#friends_main {
    
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

#friends_upper {
    flex: 3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#friends_upper img{
    height: 150px;
    width: auto;
}

#friends_earned {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(112, 112, 112, 0.3);
    border-radius: 50px;
}

#friends_earned p{
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

#friends_invite {
    flex: 0.1;
    text-align: center;
    color: #feaa00;
    font-size: 20px;
}

#friends_awards {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.3);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    
}

#friends_awards_block {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

#friends_awards_default,
#friends_awards_premium {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#friends_awards_default img{
    height: 30px;
    width: 30px;
}

#friends_awards_premium img{
    height: 30px;
    width: 30px;
}

#friends_awards_default p{
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
}

#friends_awards_premium p{
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
}

#friends_awards_default h2{
    padding-top: 5px;
    color: #feaa00;
    margin: 0;
}

#friends_awards_premium h2{
    padding-top: 5px;
    color: #feaa00;
    margin: 0;
}

#friends_awards_block_text {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#friends_awards_block_text p{
    color: white;
    margin: 0;
    font-size: 12px;
}

#friends_invite_button {
    padding-top: 10px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#friends_invite_button p{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 15px 0px 15px 0px;
    background: linear-gradient(90deg, #7d1afe, #a20fee);
    border-radius: 50px;
    text-align: center;
}

#friends_multiref_button {
    padding-top: 10px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#friends_multiref_button p{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 15px 0px 15px 0px;
    background: linear-gradient(90deg, #7d1afe, #a20fee);
    border-radius: 50px;
    text-align: center;
}

#multiref_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 40px #d04de4);
}

#multiref_main_back {
    width: 95%;
    height: 80%;
    background: radial-gradient(#d04de4 40%, #1c1f24 98%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#multiref_main {
    padding: 15px;
    background-color: #1c1f24;
    width: 90%;
    height: 92%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

#multiref_close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#multiref_close_circle {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(112, 112, 112, 0.3);
}

#multiref_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#multiref_content h2, h3, p{
    margin: 0;
}

#multiref_content h2{
    text-align: center;
    font-size: 30px;
}

#multiref_content h3{
    font-size: 20px;
}

#multiref_content p{
    font-size: 16px;
}

#multiref_content_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

#multiref_content_input {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#multiref_content_input input{
    height: 35px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 20px;
}

.multiref_input{
    margin: 0;
    background: linear-gradient(90deg, #7d1afe, #a20fee);
    padding: 15px 50px;
    border-radius: 20px;
}

.multiref_input.disabled{
    filter: grayscale(100%);
    opacity: 0.8;
}

#copy_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 200px #d04de4);
}

#copy_main_back {
    width: 95%;
    
    background: radial-gradient(#d04de4 40%, #1c1f24 98%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copy_main {
    padding: 15px;
    background-color: #1c1f24;
    width: 90%;
    height: 92%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

#copy_close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#copy_close_circle {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(112, 112, 112, 0.3);
}

#copy_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#copy_content h2, h3, p{
    margin: 0;
}

#copy_content h2{
    text-align: center;
    font-size: 30px;
}

#copy_content h3{
    font-size: 20px;
}

#copy_content p{
    font-size: 16px;
}

#copy_content_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

#copy_content_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#copy_content_input input{
    height: 35px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 20px;
}

.copy_input{
    margin: 0;
    background: linear-gradient(90deg, #7d1afe, #a20fee);
    padding: 15px 50px;
    border-radius: 20px;
}

.copy_input.disabled{
    filter: grayscale(100%);
    opacity: 0.8;
}

#copy_link {
    color: #a7a7a7;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid white;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
}